* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #185eaa;
}

.footer {
  background-color: #4e3f36;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e3dec6;
  /* position: relative;
  top: -250px; */
}

#projects {
  background-color: #e3dec6;
}

section {
  padding-top: 5rem;
}

.wave-top {
  position: absolute;
  top: 35px;
}

.text-justify {
  text-align: justify;
}

/* Top bar */
.top-bar {
  background: #ffa000; /* Color similar to the image */
  font-size: 14px;
}

.top-bar i {
  margin-right: 5px;
}

.top-bar div i {
  color: white;
}

.top-bar div {
  display: inline-block;
}

.carousel-inner img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/* Bagian navbar */
.navbar .container .collapse .navbar-nav > li > a:hover {
  background: #ffa000;
}

/* Bagian Main => Akademik */
.icon-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e17726;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-container h4 {
  font-weight: bold;
  margin-top: 20px;
}

.icon-container p {
  font-size: 14px;
}

/* Bagian Main = Sambutan Rektor */
.btn-selengkapnya {
  width: 181px;
  height: 40px;
  border-radius: 5px;
}

/* Bagian Berita Unpam */
.berita-img {
  /* width: 801px; */
  height: 400px;
  border-radius: 20px 0px 0px 0px;
  object-fit: cover;
  opacity: 1;
}

.card-body {
  color: white;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 1.25rem; /* Ukuran teks judul */
  margin-bottom: 10px;
}

.card-body p {
  margin: 0;
}

.card-body .btn {
  padding: 10px 20px;
  font-size: 0.9rem;
}

.card-body .d-flex {
  justify-content: space-between; /* Agar teks tanggal dan tombol berada di ujung kiri dan kanan */
  align-items: center;
}

/* CSS untuk mengaktifkan dropdown saat hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
